.grid{
display: grid;
grid-template-columns: min(100px) auto auto auto auto min(100px);
grid-template-rows: min(100px) auto auto auto auto min(100px);
}

.item1 {
grid-row: 1;
grid-column-start: 1;
grid-column-end: 6;
}

.item2 {
grid-row: 2;
grid-column-start: 4;
grid-column-end: 5;
}

.item3 {
grid-row: 3;
grid-column-start: 4;
grid-column-end: 5;
}

.item4 {
grid-row: 4;
grid-column-start: 4;
grid-column-end: 5;
}

.item5 {
grid-row: 5;
grid-column-start: 4;
grid-column-end: 5;
}

.item6 {
grid-row: 6;
grid-column-start: 1;
grid-column-end: 6;
}

h1 { 
align-self: center;
font-family: system-ui;
font-weight: 20px;
font-size: 29px;
margin-top: 29px;
margin-bottom: 49px;
color: #1b1c1c;
}

.prd h {
align-self: center;
font-family: system-ui;
font-weight: 100%;
font-size: 100%;
color: #1b1c1c;
}

.prd p {
align-self: center;
font-family: system-ui;
color: #1b1c1c;
}

.form {
align-self: center;
display: flex;
flex-direction: column;
width: 400px;
height: 400px;
}

.name {
display: flex;
}

.fname input[type=text] {
flex: 1;
border-color: #1b1c1c;
border-radius: 9px;
width: 190px;
height: 20px;
font-family: system-ui;
margin: 10px;
}

.email input[type=text] {
border-color: #1b1c1c;
border-radius: 9px;
width: 414px;
height: 20px;
font-family: system-ui;
margin: 10px;
}

.subject input[type=text] {
border-color: #1b1c1c;
border-radius: 9px;
width: 414px;
height: 200px;
font-family: system-ui;
margin: 10px;
}

.submitbtn {
align-self: center;
width: 90px;
height: 29px;
margin-top: 22px;
margin-left: 170px;
background-color: #ffffff;
border-color: #1b1c1c;
border-radius: 20px;
display: inline-block;
font-family: system-ui;
font-size: 12px;
color: #1b1c1c;
}

.submitbtn:hover {
align-self: center;
width: 90px;
height: 29px;
margin-top: 22px;
margin-left: 170px;
background-color: #ffffff;
border-color: #717171;
display: inline-block;
border-radius: 20px;
box-shadow: 0px 10px 22px;
font-family: system-ui;
font-size: 12px;
color: #1b1c1c;
}


.submitbtn:active {
align-self: center;
width: 90px;
height: 29px;
margin-top: 22px;
margin-left: 170px;
background-color: #717171;
border-color: #717171;
display: inline-block;
border-radius: 20px;
font-family: system-ui;
font-size: 12px;
color: #ffffff;
}

.homeh {
font-family: system-ui;
font-size: 49px;
}

.homep {
font-family: system-ui;
font-size: 20px;
margin-top: 79px;
}

.homeul {
align-self: center;
margin-top: 70px;
}

.homeul li {
list-style-type: none;
font-family: system-ui;
font-size: 17px;
margin: 4px;
}

.grid a {
text-decoration: none;
color: #1b1c1c;
}

.grid a:hover {
text-decoration: none;
color: #717171;
}

.home {
display: flex;
flex-direction: column;
width: auto;
height: auto;
}

.imghome {
align-self: center;
display: flex;
width: 29px;
height: 29px;
margin-top: 79px;
margin-right: 29px;
}

.imghome .img1 {
flex: 1;
margin-top: 0;
}

.imghome .img2 {
margin-top: 2.9px;
margin-left: 10px;
}

.buttonp {
align-self: center;
width: 290px;
height: 29px;
margin-top: 49px;
}

.homebtn {
align-self: center;
width: 90px;
height: 29px;
margin-top: 79px;
font-size: 1em;
background-color: #ffffff;
border-color: #1b1c1c;
display: inline-block;
border-radius: 20px;
font-family: system-ui;
font-size: 12px;
color: #1b1c1c;
}

.homebtn:hover {
align-self: center;
width: 90px;
height: 29px;
margin-top: 79px;
background-color: #ffffff;
border-color: #717171;
display: inline-block;
border-radius: 20px;
font-family: system-ui;
font-size: 12px;
color: #1b1c1c;
}

.impr h {
align-self: flex-start;
font-family: system-ui;
margin-top: 29px;
margin-bottom: 29px;
}

.imprimg {
align-self: flex-start;
width: 490px;
height: 229px;
margin-top: 22px;
margin-bottom: 22px;
}


.sidemenu {
position: fixed;
width: 100%;
height: 79px;
top: 0;
left: 0;
right: 0;
background: #ffffff;
}

.sidemenu ul {
list-style-type: none;
font-family: system-ui;
overflow: hidden;
margin-top: 29px;
margin-right: 29px;
}

.sidemenu li {
float: right;
}

.sidemenu a {
font-family: system-ui;
color: #1b1c1c;
text-decoration: none;
margin-left: 22px;
}

.sidemenu a:hover {
font-family: system-ui;
color: #717171;
text-decoration: none;
margin-left: 22px;
}

.sidemenu a:active {
font-family: system-ui;
color: #717171;
text-decoration: none;
}
